body {
  font-family: "Dosis", sans-serif;
}

hr {
  margin: 0vh;
  background-color: white;
  height: 2px;
}

.bold {
  font-weight: bold;
}

.flex-container {
  display: flex;
}

.container {
  margin-left: 5%;
  width: 100%;
  ;
}

/* HEADER */

.cv-header {
  background-color: #989e647c;
  width: 30vh;
  min-width: 380px;
  max-width: 500px;
  height: 170vh;
}
.cv-contact-info {
  margin-left: 11vh;
}

.cv-contact {
  margin: 1vh ;
  padding: 1vh;
  font-size: 16px;
  list-style-type: none;
}
.cv-contact-info1 {
  list-style-type: none;
}
.tel-cv {
    width: 20px;
    height: 32px;
    margin-right: 15px;
  }
  .li-tel {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
  }
  .tel-text{
      color: #000000;
      text-decoration:none;
  }
.telegramm-cv {
  width: 20px;
  height: 32px;
  margin-right: 15px;
}
.li-telegramm {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.telegramm-text{
    color: #000000;
    text-decoration:none;
}
.gmail-cv{
    width: 20px;
  height: 32px;
  margin-right: 15px;
}
.li-gmail{
    display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.gmail-text{
    color: #000000;
    text-decoration:none;
}
.cv-contact-element {
  padding: 100vh;
  font-size: 16px;
}


.cv-profile-photo {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  display: block;

  width: 40vh;
  height: 40vh;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 2px 2px 5px black;
  transition: all 0.5s;
}

.cv-profile-photo:hover {
  transform: scale(1.1);
}

/* END OF HEADER */

/* MAIN CONTAINER */

.cv-name-element {
  font-size: 60px;
  margin: 5% 0 0;
  padding: 0;
}

.cv-name-element-subheader {
  margin: 2% 0;
  padding: 0;
}

.cv-skills-title {
  color: #000000;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 25px;
}
.cv-about-me{
    font-family: "Dosis", sans-serif;
    list-style-type: none;
    line-height: 20px;
}
/* SKILLS */
.cv-skills{
    font-family: "Dosis", sans-serif;
    list-style-type: none;
    line-height: 30px;
}
.cv-skills-title {
    counter-reset: li; 
    list-style: none; 
    font: 16px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
    .cv-skills-title a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #D3D4DA;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
    }
    .cv-skills-title a:hover {background: #DCDDE1;}       
    .cv-skills-title a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #9097A2;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    }
    .cv-skills-title a:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
    }
    .cv-skills-title a:hover:after {
    left: -.5em;
    border-left-color: #9097A2;
    }
/* END OF SKILLS */
.education{
    font-family: "Dosis", sans-serif;
    list-style-type: none;
    line-height: 20px;
}
.languages{
    font-family: "Dosis", sans-serif;
    list-style-type: none;
    line-height: 20px;
}

.row {
  display: flex;
}

.column-skills {
  flex: 50%;
}

.col-3 {
  flex: 100%;
}
